@import "tailwindcss";

:root {
  --bg:        #0d0f16;
  --surface:   #0f1120;
  --titlebar:  #1a1d2e;
  --border:    #252838;
  --muted:     #4a5270;
  --text:      #cdd6f4;
  --accent:    #4ec9b0;
  --keyword:   #c792ea;
  --string:    #c3e88d;
  --fn:        #82aaff;
  --class:     #ffcb6b;
  --number:    #f78c6c;
  --comment:   #3d4872;
  --prop:      #89ddff;
  --statusbar: #0b5e50;
}

@theme inline {
  --color-bg:        var(--bg);
  --color-surface:   var(--surface);
  --color-titlebar:  var(--titlebar);
  --color-border:    var(--border);
  --color-muted:     var(--muted);
  --color-text:      var(--text);
  --color-accent:    var(--accent);
  --color-keyword:   var(--keyword);
  --color-string:    var(--string);
  --color-fn:        var(--fn);
  --color-class:     var(--class);
  --color-number:    var(--number);
  --color-comment:   var(--comment);
  --color-prop:      var(--prop);
  --color-statusbar: var(--statusbar);

  --font-mono: var(--font-jetbrains-mono);
}

body {
  background-color: var(--bg);
  color: var(--text);
}
